.cc-theme-evil.cc-window {
  padding: 0;
}

.cc-floating.cc-theme-evil .cc-message {
  margin: 2em;
  margin-bottom: 1.5em;
}

.cc-banner.cc-theme-evil .cc-btn {
  margin: 0;
  color: pink;
  padding: .8em 1.8em;
  height: 100%;
}

.cc-banner.cc-theme-evil .cc-message {
  margin-left: 1em;
}

.cc-floating.cc-theme-evil .cc-btn +.cc-btn {
  margin-left: 0;
}