@import "primer-css/index.scss";

html{
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  background: url("https://cdn.shopify.com/s/files/1/0903/4494/files/evil-homepage-hero-calling-2200x1600.jpg?9964689504255562377");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #060606;
}

body {
	background-color: #060606;
}


#home {
	color: #999999;
	background-color: #111111;

	.faux-nav {
		font-size: 15px;
		margin-left: 60px;
	}
}

.cc-theme-evil.cc-window {
	color: #999999;
  padding: 10px;
}

.cc-theme-evil .cc-message {
  width: auto;
  background: #060606;
  padding: 20px 76px 20px 16px;
  border-radius: 10px;
  margin-right: -70px;
  margin-left: 20%;
}

.cc-theme-evil .cc-btn {
  margin: 0;
  background-color: #1B97A1;
  color: #999999;
  padding: .8em 1.8em;
  height: 100%;

  &:hover {
  	background-color: darken(#1B97A1, 5%);
  }
}

// .cc-theme-evil .cc-btn +.cc-btn {
//   margin-left: 100;
// }