@import "primer-css/index.scss";

html{
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  background: url("https://cdn.shopify.com/s/files/1/0903/4494/files/evil-homepage-hero-calling-2200x1600.jpg?9964689504255562377");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #060606;
}

body {
	background-color: #060606;
}


#home {
	color: #999999;
	background-color: #111111;

	.faux-nav {
		font-size: 15px;
		margin-left: 60px;
	}
}


